.hero {
  margin-top: 80px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  z-index: 1000;
  transition: 0.3s;
}