* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #0f172a;
  color: white;
}


/* LOGIN PAGE */

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.login-card {
  background: #1e293b;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0px 10px 40px rgba(0,0,0,0.5);
  text-align: center;
}

.login-card h1 {
  margin-bottom: 10px;
}

.subtitle {
  opacity: 0.6;
  margin-bottom: 25px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}
